.root {
    -fx-background-color: #333333;
    -fx-background-radius: 10;
}

/* 设置 MenuBar 的背景颜色和字体颜色 */
.menu-bar {
    -fx-background-color: #333333;
    -fx-text-fill: #f0f0f0;
    -fx-font-size: 13px;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-padding: 0;
}

/* 设置鼠标悬停时菜单项的背景颜色 */
.menu:hover {
    -fx-text-fill: white;
    -fx-background-color: #0293cd;
}

/* 设置菜单项的背景颜色和字体颜色 */
.menu .label {
    -fx-text-fill: #f0f0f0;
    -fx-font-size: 12px;
}

/* 设置鼠标悬停时菜单项的背景颜色 */
.menu .label:hover {
    -fx-text-fill: white;
    -fx-background-color: #0293cd;
}

/* 设置下拉菜单的背景颜色 */
.context-menu {
    -fx-fill-width: 40px;
    -fx-background-color: #333333;
}

/* 设置下拉菜单项的背景颜色和字体颜色 */
.menu-item .label {
    -fx-text-fill: white;
}

/* 设置鼠标悬停时下拉菜单项的背景颜色 */
.menu-item .label:hover {
    -fx-background-color: #0293cd;
}

#lab_title {
    -fx-font-size: 20px;
    -fx-text-fill: #f0f0f0;
    -fx-alignment: center;
}

.btn_fun {
    -fx-background-color: rgba(28, 28, 28, 0);
    -fx-border-width: 0;
    -fx-pref-width: 24;
    -fx-pref-height: 24;
}

.btn_fun:hover {
    -fx-background-color: rgba(28, 28, 28, 0.69);
}

.btn_fun_min {-fx-background-image: url('/wxdgaming/tailfn/dark/min.png');}

.btn_fun_max {-fx-background-image: url('/wxdgaming/tailfn/dark/max.png');}

.btn_fun_close {-fx-background-image: url('/wxdgaming/tailfn/dark/close.png');}