.root {
    -fx-background-color: rgba(239, 239, 239);
    -fx-border-radius: 10px;
    -fx-background-radius: 10;
    -fx-border-color: rgb(198, 196, 196);
}

.btn_fun {
    -fx-background-color: rgba(28, 28, 28, 0);
    -fx-border-width: 0;
    -fx-pref-width: 24;
    -fx-pref-height: 24;
    -fx-background-size: 24;
}

.btn_fun:hover {
    -fx-background-color: rgb(85, 84, 84);
}

.btn_fun_close {-fx-background-image: url('/wxdgaming/tailfn/light/close.png');}

#lab_title {
    -fx-font-size: 20px;
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10px 10px 0 0;
    -fx-alignment: center;
    -fx-background-color: rgb(198, 196, 196);
}

#lab_Content {
    -fx-font-size: 15px;
    -fx-wrap-text: true;
    -fx-padding: 10 30 10 30;
}

.btn_diy {
    -fx-background-color: rgba(239, 239, 239);
    -fx-border-width: 1;
    -fx-border-color: rgb(198, 196, 196);
}

.btn_diy:hover {
    -fx-background-color: #0293cd;
}